<nav class="blue darken-3">
  <div class="nav-wrapper container">
    <a routerLink="/" class="brand-logo">
      <img src="assets/img/pokeball.svg" width="30px">
      Pokédex</a>
  </div>
</nav>

<router-outlet></router-outlet>

<div class="footer-copyright footer">
  <div class="container">
    <span *ngIf="currentYear === 2023; else template">{{currentYear}}</span> - Delmerie JOHN ROSE
    <a class="text-lighten-4 right" href="https://github.com/jdelmerie" target="_blank">
      <img src="/assets/img/github.png" width="25px">
    </a>
  </div>
</div>

<ng-template #template>
  <span>2023-{{currentYear}}</span>
</ng-template>